 body {
	background-color: #E6E6E6;
	font-family: 'Raleway', sans-serif;
	color: #676767;
	text-align: center;
}
 .title {
	letter-spacing: 4px;
	padding: 20px;
	background-color: #DEDEDE;
	border: 3px solid #AFAFAF;
 }

 .link {
	color: gray;
 }
